/* fonts */
@font-face {
    font-family: "Russo";
    src: url(../assets/fonts/Russo/RussoOne-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/Roboto/fonnts.com-RobotoCondensed-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/Roboto/RobotoCondensed-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* colors */
:root {
    --bg-main: #F5F7FA;
    --bg-cards: #FFFFFF;
    --fsd:#761010;
    --text-main: #1A1A1D;
    --text-second: #6E6E73;
    --text-accent: #000;

    --accent1: #00C4B4;
    --accent2: #F9FF2A;

    --border: #E1E4E8;


    --h1: 400 56px/1 "Russo", sans-serif;
    --h2: 400 36px/1 "Russo", sans-serif;
    --h3: 400 28px/1 "Russo", sans-serif;
    --h4: 400 22px/1 "Russo", sans-serif;

    --btn: 700 20px/1 "Roboto", sans-serif;
    --p: 200 20px/1 "Roboto", sans-serif;
}


/* general */
html {
    scroll-behavior: smooth;
}

body {
    font: var(--p);
    color: var(--text-second);

    background-color: var(--bg-main);
}

h1 {
    color: var(--accent2);
    font: var(--h1);
}

h2 {
    text-align: center;
    font: var(--h2);
    color: var(--text-accent);

    margin-bottom: 30px;
}

h3 {
    font: var(--h3);
    color: var(--text-main);
    margin-bottom: 5px;
}

h4 {
    font: var(--h4);
    color: var(--text-main);
    margin-bottom: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn-black {
    padding: 12px 20px;
    background-color: var(--text-main);
    color: var(--bg-main);
    font: var(--btn);
    border-radius: 5px;
    border: 1px solid var(--text-main);

    transition: .3s all ease;
}

.btn-black:hover {
    background-color: transparent;
    color: var(--text-accent);
    border-color: var(--text-accent);
    scale: 1.02;
}

.rent-btn {
    display: block;
    text-align: center;
}

/* header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;

    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;

    position: fixed;
    top: 0;
    background-color: var(--bg-main);
    min-width: 100%;
    z-index: 99999;
}

header.scrolled {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(8px);
}


.logo {
    cursor: pointer;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.header__contact {
    color: var(--text-second);
    font: var(--btn);
}

.header__profile {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 5px;
}

.header__nav__item {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;

    color: var(--text-accent);
}


/* анимация линии */
.header__profile p,
.header__nav__item {
    position: relative;
    display: inline-block;
    transition: color .2s linear;

    cursor: pointer;
}

.header__profile p::after,
.header__nav__item::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: width .3s ease, left .3s ease;
}

.header__profile:hover p::after,
.header__nav__item:hover::after {
    width: 100%;
    left: 0;
}

.header__profile:hover p,
.header__nav__item:hover {
    color: var(--text-second);
}


.header__profile__user {
    width: 50px;
    height: 50px;

    background-color: var(--bg-cards);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* banner */

.banner {
    margin-top: 50px;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url(../assets/images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;

    margin-bottom: 70px;
}


.banner h1 {
    margin-bottom: 50px;
}

/* кнопочка */
.btn-yellow {
    font: var(--btn);
    color: var(--text-accent);
    padding: 22px 52px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    box-shadow: 0 4px 24px rgb(206, 220, 11);

    background: linear-gradient(145deg, #F9FF2A, #FAFF56);

    transition: all .2s ease;

    transform: scaleX(1);
}

.btn-yellow:hover {
    box-shadow: 0 4px 24px rgba(78, 78, 78, 1);

    transform: scaleX(1.05);
}


.btn-yellow::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(35deg, #000000, #282828);
    opacity: 0;
    transition: opacity .2s ease;
    z-index: 0;
}

.btn-yellow:hover::before {
    opacity: 1;
}


.btn-yellow span {
    position: relative;
    z-index: 1;
    transition: all .2s ease;
}

.btn-yellow:hover span {
    color: var(--bg-main);
}


/* rent */
.rent {
    margin-bottom: 70px;
}

.rent__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.rent__list__item {
    width: 48%;
}

.rent__list__item img {
    margin-bottom: 10px;
    border-radius: 7px;
}

.rent__list__item p {
    color: var(--text-second);
}

/* instruction */

.instruction {
    margin-bottom: 70px;
}

.instruction__list__item {
    margin-bottom: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
}

.instruction__list__item img {
    display: flex;
    height: 50px;
    width: 50px;
}

.instruction__text {
    max-width: 70%;
}

/* map */
.minimap {
    margin-bottom: 70px;
}

.yandex-map * {
    width: 100%;
    height: 70vh;
}

/* footer */
.footer__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

.footer__nav {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    column-gap: 150px;
}

.footer__item p {
    margin-bottom: 5px;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.footer__social a img {
    min-width: 50px;
    min-height: 50px;
}

.footer-copyrigth {
    text-align: center;
    padding-bottom: 15px;
}


footer a:hover {
    color: var(--text-accent);
    text-decoration: underline;
}

/* elements */
.burger-open {
    display: none;
    ;
}

.burger-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    color: black;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.burger-modal.active {
    display: flex;
}

.burger-content {
    position: relative;
    text-align: center;
}

.burger__item {
    margin: 20px 0;
    font-size: 24px;
}

.burger__item a {
    color: black;
    text-decoration: none;
}

.burger-close {
    position: absolute;
    top: -40px;
    right: -40px;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

.header__contact.burger {
    display: none;
}



/* catalog.html */

.catalog {
    margin-top: 30px;
    margin-bottom: 100px;
}

/* filter */

.catalog__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;

    margin-bottom: 60px;
}

.filter__type {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
}

.filter__type__item a {
    display: block;
    padding: 14px 44px;
    border-radius: 50px;
    height: 50px;

    color: var(--accent1);
    border: 2px solid var(--accent1);
    box-shadow: 1px 1px 1px var(--accent1);

    text-align: center;
    box-shadow: 0 4px 35px rgba(0, 196, 200, 0.1);

    transition: .2s all ease;
}

.filter__type__item:hover a {
    background-color: var(--accent1);
    color: var(--bg-main);
    box-shadow: 0 4px 25px rgba(0, 196, 200, 0.5);
}

.filter__search form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.filter__search button {
    border-radius: 50px;
    height: 50px;
}

.filter__search input {
    margin-bottom: 0;
    padding: 14px 45px 14px 20px;
    background-color: var(--bg-cards);
    border: 1px solid var(--text-second);
    border-radius: 50px;
    color: var(--text-accent);
    height: 50px;

    background-image: url(../assets/images/search.svg);
    background-repeat: no-repeat;
    background-position: right 15px center;
}

/* catalog */

.catalog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    column-gap: 30px;
    row-gap: 20px;

    margin-bottom: 30px;
}

.catalog__item {
    width: 100%;
    background-color: #fff;

    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1);
}

.catalog__item__img {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}


.catalog__item button {
    width: 100%;
}

.catalog__item__text {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
}

.catalog__item__title {
    color: var(--text-main);
}

.catalog__item__price {
    font: var(--btn);
    color: var(--text-main);
}

/* pagination */
.catalog__pagination {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 15px;
}

.pagination__item {
    display: flex;
    justify-content: center;
    align-items: center;

    font: var(--btn);
    color: var(--bg-main);
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--accent1);
    cursor: pointer;

    transition: .3s all ease;
}

.pagination__item.big {
    width: 200px;
}

.pagination__item:hover {
    scale: 1.02;
    background-color: var(--text-main);
}

/* admin */
.admin-panel {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px 5px;

    background-color: rgba(0, 0, 0, 0.9);
    height: 20vh;

    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;

    z-index: 9999;
}

.panel-add {
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    background-color: var(--text-accent);

    cursor: pointer;

    transition: .2s all ease;
}

.panel-add:hover {
    scale: 1.02;
}

/* modal */
.admin-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;

    z-index: 9998;
}

.admin-modal__overlay.active {
    opacity: 1;
    pointer-events: all;
}

.admin-modal {
    width: 50%;
    background-color: var(--bg-main);
    border-radius: 14px;
    padding: 30px;
}

.admin-modal.active {
    display: block;
}


/* order form make */
.order-modal__overlay {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 250px;
    margin-top: 50px;
}

.order-modal {
    background-color: var(--bg-cards);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}





form label {
    display: block;
    color: var(--text-main);
    margin-bottom: 5px;
}



form input {
    width: 100%;
    padding: 14px 20px;
    border-radius: 14px;
    background-color: transparent;
    border: 2px solid var(--text-second);
}

form textarea {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 14px;
    background-color: transparent;
    border: 2px solid var(--text-second);
    padding: 14px 20px;
    resize: none
}

form button {
    width: 100%;
    border-radius: 14px;
}


form select {
    width: 100%;
    margin-bottom: 20px;
    padding: 14px 20px;
    border-radius: 14px;
    background-color: transparent;
    border: 2px solid var(--text-second);
}

/* register */
.register {
    max-width: 600px;
    margin: 0 auto;

    margin-top: 30px;
    margin-bottom: 100px;
}

.form-register {
    padding: 30px;
    background-color: var(--bg-cards);
    border-radius: 14px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
}

.form-register-auth {
    margin-top: 20px;
}

.form-register-auth a {
    color: var(--text-main);
    text-decoration: underline;
}


.error-box {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #ff4d4d;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    opacity: 1;
    animation: error 3s ease forwards;
    animation-delay: 10s;
}

@keyframes error {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}


.success-box {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #1cbe2f;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    opacity: 1;
    animation: success 3s ease forwards;
    animation-delay: 10s;
}

@keyframes success {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* auth */
.auth {
    max-width: 600px;
    margin: 0 auto;

    margin-top: 30px;
    margin-bottom: 100px;
}

.form-auth {
    padding: 30px;
    background-color: var(--bg-cards);
    border-radius: 14px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
}


/* profile */
.profile {
    max-width: 1200px;
    margin: 0 auto;

    margin-top: 30px;
    margin-bottom: 100px;
}

.profile__content {
    display: flex;
    justify-content: center;
    align-items: start;
    column-gap: 20px;

    width: 100%;
    padding-inline: 10px;
}


.profile__info {
    width: 30%;
    padding: 20px;
    background-color: var(--bg-cards);
    border-radius: 7px;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1);
}

.profile__info p {
    margin-bottom: 10px;
}

.profile__link {
    color: #000;
}

.profile__link:hover {
    text-decoration: underline;
    color: var(--text-second);
}

.profile__orders {
    width: 70%;
    padding: 20px;
    background-color: var(--bg-cards);
    border-radius: 7px;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1);
}

.profile__orders h2 {
    text-align-last: left;
}

/* order card */
.profile__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;

    height: 50vh;
    overflow-y: auto;
    padding-right: 4px;
}

.profile__item {
    display: flex;
    justify-content: space-between;

    background-color: var(--bg-main);
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 8px 12px;
}

.profile__item__content {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.profile__item__content__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile__item__date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    color: var(--text-second);

    text-align: right;
}

.profile__item__content img {
    border-radius: 5px;
    height: 110px;
    width: 165px;
}

.profile__item__title {
    margin-bottom: 5px;
    color: var(--text-accent);
}

.profile__item__price {
    color: var(--text-accent);
    font: var(--btn);
}

.profile__item__status {
    font: var(--h4);
    color: var(--text-accent);
}

.profile__item_container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.profile__item__user__info {
    width: 100%;
    border-radius: 2px;
    background-color: var(--border);
    color: var(--text-main);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px 20px 10px 50px;
}

.profile__item__user__info div b {
    font-weight: 600;
    font-style: italic;
}




.change-status-form {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2px;
    flex-wrap: wrap;
    width: 100px;
}

.change-status-form button {
    padding: 0;
    font: var(--p);
}

.change-status-form select {
    padding: 0;
    margin-bottom: 0;
}


.profile__item.page__user-orders {
    display: flex;
    align-items: center;
}


.profile__item__content__user p:not(:last-child) {
    margin-bottom: 14px;
}

.profile__item__content__user b {
    padding-left: 10px;
    font: var(--h4);
    color: var(--text-accent);
}

.profile__item__user__btn a {
    padding: 14px 70px;
    background-color: var(--text-accent);
    font: var(--btn);
    color: var(--bg-main);
    border-radius: 14px;
    display: block;

    transition: all .1s ease-in;
}

.profile__item__user__btn:hover a {
    background-color: var(--text-second);
    color: var(--text-accent);
    scale: 1.02;
}


.error-message {
    color: red;
    font-size: 12px;
    margin-top: 3px;
    display: block;

    margin-bottom: 20px;
}

input.error {
    border: 2px solid red;
}

input.success {
    border: 2px solid green;
}


/* resonsive */
@media (max-width:1200px) {
    .header__nav {
        display: none;
    }

    .burger-open {
        display: block;
    }

    .footer__nav {
        column-gap: 50px;
    }

    /* catalog */
    .catalog {
        padding-inline: 10px;
    }

    .filter__type {
        column-gap: 10px;
    }

    .catalog__item__text {
        align-items: flex-start;
        row-gap: 5px;
        flex-direction: column;
    }




}

@media (max-width:1000px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    footer {
        padding-inline: 10px;
    }

    .rent {
        padding-inline: 10px;
    }

    .instruction {
        padding-inline: 10px;
    }

    .minimap {
        padding-inline: 10px;
    }

    .footer__nav {
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .header {
        column-gap: 30px;
    }

    /* catalog */
    .filter__type {
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .catalog__list {
        grid-template-columns: repeat(2, 1fr);
    }

    /* admin */
    .admin-modal {
        width: 80%;
    }

    /* register */
    .register {
        width: 90%;
        padding-inline: 10px;
    }

    /* auth */
    .auth {
        width: 90%;
        padding-inline: 10px;
    }


    .profile__item {
        flex-direction: column;
        align-items: stretch;
    }

    .profile__item__content {
        justify-content: space-around;
        align-items: center
    }
}


@media (max-width:640px) {
    .header__contact {
        display: none;
    }

    .header__contact.burger {
        display: block;
    }

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 18px;
    }

    .rent__list__item {
        width: 80%;
    }

    .footer__social {
        flex-direction: column;
        row-gap: 20px;
    }

    .footer__box {
        column-gap: 30px;
    }

    /* catalog */
    .catalog__filter {
        flex-direction: column-reverse;
        row-gap: 20px;
    }

    .filter__type {
        justify-content: center;
    }

    .catalog__list {
        grid-template-columns: 1fr;
    }

    /* admin */
    .admin-modal {
        width: 90%;
    }

    .order-modal__overlay {
        width: 100%;
        padding-inline: 10px;
    }

    .profile__content {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .profile__info {
        width: 100%;
    }

    .profile__orders {
        width: 100%;
    }
}